<a href="https://colab.research.google.com/github/pasancardiffmet/CMP7005-PRAC1/blob/main/ST20319008_CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Beijing Air Quality Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Set a consistent style for plots
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("dark")

In [2]:
# Load the datasets
df_changping = pd.read_csv('PRSA_Data_Changping_20130301-20170228.csv')
df_dongsi = pd.read_csv('PRSA_Data_Dongsi_20130301-20170228.csv')
df_gucheng = pd.read_csv('PRSA_Data_Gucheng_20130301-20170228.csv')
df_huairou = pd.read_csv('PRSA_Data_Huairou_20130301-20170228.csv')

# Add the Site Category column
df_changping['category'] = 'Suburban'
df_dongsi['category'] = 'Urban'
df_gucheng['category'] = 'Industrial'
df_huairou['category'] = 'Rural'

#Merging the Dataset
df_list = [df_changping, df_dongsi, df_gucheng, df_huairou]
merged_df = pd.concat(df_list, ignore_index=True)
merged_df['datetime'] = pd.to_datetime(merged_df[['year', 'month', 'day', 'hour']])
# Rearranging and replacing redundant columns
cols = ['datetime', 'station', 'category', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3',
        'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd','WSPM']
merged_df = merged_df[cols]

merged_df.head()
# Save merged dataset
# merged_df.to_csv('merged_beijing_air_quality.csv', index=False)
# Display the first few rows of each DataFrame
# display(df_changping.head())
# display(df_dongsi.head())
# display(df_gucheng.head())
# display(df_huairou.head())

In [3]:
#Descriptive Statistics
print(f"Total rows in merged dataset: {merged_df.shape[0]}")
print(f"Total columns in merged dataset: {merged_df.shape[1]}")
print("Information about the merged dataset:")
print(merged_df.info(),'\n')
print("Descriptive statistics of the merged dataset:")
print(merged_df.describe(),'\n')
print("\nUnique value counts in categorical columns:")
print("\nUnique values in Station column:")
print(merged_df['station'].value_counts())
print("\nUnique values in Category column:")
print(merged_df['category'].value_counts())
print("\nUnique values in Wind Direction column:")
print(merged_df['wd'].value_counts())
print("\nMissing values and Percentaged per Column:")
missing_values = merged_df.isnull().sum()
missing_percentage = (merged_df.isnull().sum() / len(merged_df)) * 100
missing_info = pd.DataFrame({'Missing Count': missing_values, 'Missing Percentage (%)': missing_percentage})
print(missing_info[missing_info['Missing Count'] > 0].sort_values(by='Missing Count', ascending=False))

Total rows in merged dataset: 140256
Total columns in merged dataset: 15
Information about the merged dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140256 entries, 0 to 140255
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  140256 non-null  datetime64[ns]
 1   station   140256 non-null  object
 2   category  140256 non-null  object
 3   PM2.5     137133 non-null  float64
 4   PM10      137963 non-null  float64
 5   SO2       137478 non-null  float64
 6   NO2       135681 non-null  float64
 7   CO        132715 non-null  float64
 8   O3        137108 non-null  float64
 9   TEMP      140081 non-null  float64
 10  PRES      140083 non-null  float64
 11  DEWP      140079 non-null  float64
 12  RAIN      140087 non-null  float64
 13  wd        139577 non-null  object
 14  WSPM      140108 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(3)
memory usage: 16.1+ MB
None

Descriptive statistics of the merged dataset:
                            datetime          PM2.5           PM10  \
count                         140256  137133.000000  137963.000000
mean   2015-03-01 11:29:59.999999744      77.710890     103.875539
min              2013-03-01 00:00:00       2.000000       2.000000
25%              2014-03-01 05:45:00      20.000000      35.000000
50%              2015-03-01 11:30:00      53.000000      81.000000
75%              2016-02-29 17:15:00     108.000000     145.000000
max              2017-02-28 23:00:00     882.000000     999.000000
std                              NaN      78.870131      91.413296

                 SO2            NO2             CO             O3  \
count  137478.000000  135681.000000  132715.000000  137108.000000
mean       15.251698      46.614027    1205.641322      58.161796
min         0.285600       1.026500     100.000000       0.214200
25%         2.000000      21.000000     500.000000      14.000000
50%         7.000000      39.000000     900.000000      46.000000
75%        19.000000      66.000000    1500.000000      82.000000
max       500.000000     276.000000   10000.000000    1071.000000
std        21.170256      33.168157    1113.658619      56.027880

               TEMP           PRES           DEWP           RAIN  \
count  140081.00000  140083.000000  140079.000000  140087.000000
mean       13.41694    1009.184718       2.200587       0.064194
min       -19.90000     982.400000     -43.400000       0.000000
25%         3.00000    1000.800000      -9.400000       0.000000
50%        14.40000    1008.800000       2.600000       0.000000
75%        23.10000    1017.300000      15.000000       0.000000
max        41.60000    1042.000000      29.100000      52.100000
std        11.48208      10.349554      13.873769       0.807661

                WSPM
count  140108.000000
mean        1.677524
min         0.000000
25%         0.900000
50%         1.300000
75%         2.100000
max        12.900000
std         1.254475


Unique value counts in categorical columns:

Unique values in Station column:
station
Changping    35064
Dongsi       35064
Gucheng      35064
Huairou      35064
Name: count, dtype: int64

Unique values in Category column:
category
Suburban      35064
Urban         35064
Industrial    35064
Rural         35064
Name: count, dtype: int64

Unique values in Wind Direction column:
wd
NW     14005
WNW    11173
N      10958
NE     10632
E       9757
NNW     9746
ENE     9077
ESE     8867
NNE     8136
SSW     7191
SE      7158
SW      7151
S       6918
W       6865
SSE     6381
WSW     5562
Name: count, dtype: int64

Missing values and Percentaged per Column:
       Missing Count  Missing Percentage (%)
CO              7541                5.376597
NO2             4575                3.261893
O3              3148                2.244467
PM2.5           3123                2.226643
SO2             2778                1.980664
PM10            2293                1.634868
wd               679                0.484115
DEWP             177                0.126198
TEMP             175                0.124772
PRES             173                0.123346
RAIN             169                0.120494
WSPM             148                0.105521

In [4]:
#Handling the numerical missing values in the numerical columns

#Since these are time series data, and the number of pollutends are likely be similar to the previous value in the time series (assuming no drastic changes)
#filling with the previous valuee with ffill makes the most sense
numerical_cols = ['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'WSPM']
for col in numerical_cols:
    merged_df[col] = merged_df[col].ffill()

# Fill missing values in 'wd' categorical column with the mode (most common item)
merged_df['wd'] = merged_df['wd'].fillna(merged_df['wd'].mode()[0])

#Drop any duplicate columns if there are any
merged_df.drop_duplicates()
merged_df
# Save the processed merged dataset
merged_df.to_csv('merged_beijing_air_quality.csv', index=False)

#Data Analysis

datetime    0
station     0
category    0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
dtype: int64